@use "../utils/variables.scss" as *;

.main-profile {
  margin: 0 auto;
  padding: $size-48;
  display: flex;
  flex-direction: column;
}

.main-profile__header {
  &-title {
    margin: 0;
    font-size: $size-48;
    font-weight: $fw-500;

    span {
      color: $clr-accent;
    }
  }

  p {
    font-size: 18px;
  }
}

.main-profile__content {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1350px) {
  .main-profile {
    padding: $size-16;
  }

  .main-profile__content {
    flex-direction: column;
  }
}