*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.app {
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-rows: 91px 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.side-menu {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}
